{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">404:Une erreur est arrivée.</h1>
                    <p> La page que vous avez demandée n'existe pas.</p>
                    <a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
                </div>
                </div>
        </div>
    </div>

{% endblock %}